@media only screen and (min-width: 851px){

      header{
        grid-template-columns: 2fr 3fr 5fr 1fr;
        align-items: center;
      }
      .banner-content{
        max-width: 1000px;
      }
   
      #logo-wrapper{
        grid-column: 1/2;
      }
      #heading{
        grid-column: 2/4;
      }
      header img{
        padding-left: 20px;
      }
      nav button{ display: none;}
    
      nav ul {
          display: flex;
          width: 100%;

        }
      nav{
        display: flex;
        grid-row: 2/3; 
      }
      #date{
        grid-row: 3/4;
        font-size: 30px;
        margin: 0px;
      }
      nav ul li {
        flex: 1 1 auto; 
        padding: 10px;
      }
      nav ul li a {
        border: none;
        padding: .5rem 1rem ;
        font-size: 22px;
      } 
      .social{
        grid-row: 1/2;
      }
      .social img{
      width: 50px;
      height: 50px;
      }
      main{
        display: flex;
      }
     
      footer{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        font-weight: 100;
        padding-bottom: 20px;
      }
      
      footer img{
        padding-left: 20px;
        padding-top: 20px;
      }
      #footer-img-wrapper{
        display: flex;
        justify-content: flex-start;
        grid-column: 1/2;
        grid-row: 1/2;
      }
      footer p{
        font-size:18px;
      }
      #location{
        display: flex;
        flex-direction: column;
        justify-content: center;
        grid-row: 1/2;
        grid-column: 2/3;
        font-weight: lighter;
    
      }
      #contact{
        display: flex;
        flex-direction: column;
        justify-content: center;
        grid-column: 3/4;
        grid-row: 1/2;
      }
      #footer-title{
        font-size: 23px;
      }
      #baseline{
        grid-column: 1/4;
        grid-row: 2/3;
        padding-bottom: 20px;
      }
      footer a{
        color: var(--paragraph-color-on-color);
      
      }
      footer p{
        margin: 0;
      }
      footer img{
        width: 220px;
        height: 146px;
      }

      
   
    }

@media only screen and (min-width: 78rem) {
      header h1{
          font-size: 100px;
        }
      header h2{
          font-size: 30px;
        }

  }