@media (min-width: 900px){

    header > h1 {
        font-size: 100px;
    }
    header > h2 {
        font-size: 35px;
        margin-top: 20px;
    }
    header img{
        max-width: 300px;
        max-height: auto;
      }
   

}