@media (min-width: 900px){
    main{
        grid-template-columns: repeat(3, 1fr);
        column-gap: 10px;
    }

    .card-1{
        grid-column: 1/2;
    }
    .card-2{
        grid-column: 2/3;
    }
    .card-3{
        grid-column: 3/4;
        margin-top: 0;
    }

    header,footer{
        font-size: 1.5rem;
    }

    section{
        font-size: 1.2rem;
    }
    section a{
        font-size: 1rem;
    }
    p{
        font-size: 1.5rem;
    }
}