@media (min-width: 600px){
 
  /*-----------------Navigation----------------*/
  nav{
    justify-content: space-between;
  }
  
 nav button{
  padding: 20px;
  font-size: 2.5rem;
 }
 
  nav ul li a{
    font-size: 25px;
    font-weight: 300;
    width: 500px;
  }
  #logo{
    width: 100px;
    height: 100px;
    padding: 20px;
    display: block;
  }
  /*---------------------Header----------------------*/
  header{
    display: flex;
    padding: 0 0 0 0;
    position: relative;
  }
  .header-img-wrapper{
    width: 100%;
    height: 320px; 
  }
  .header-img-wrapper img{
    width: 100%;
    height: 300px;
  }

    
  header > h1 {
  top: 30px;
  left: 40px;
  position: absolute;
  font-size: 80px;

  }
  header > h2 {
    position: absolute;
    font-size: 40px;
    margin-top: 20px;
    top: 60px;
    right: 80px;
  }
  /*---------------Main----------------------*/
  .fresh-button, .blog-button{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }
  .fresh-button a, .blog-button a{
   font-size: 30px;
  }
  .img-wrapper{
    justify-content: center;
    display: flex;
    width: 100%;
    height: 350px;
  }
  .img-wrapper img{
  width: 600px;
  height: 300px;
  }
  p{
    font-size: 20px;
    margin: 10px;
  }
  .card-wrapper img {
    width: 250px;
    height: 250px;
  }

  .fresh-button a, .blog-button a {
    width: 300px;
    margin-bottom: 30px;
  }
  #weather{
    display: flex;
    flex-direction: row;
  }

  #weather, .img-wrapper {
    width: 100%;
  }
  .weather-data{
    display: flex;
    flex-direction: column;
  }
  #figcaption{
      padding: 0 20px;
      font-size: 3rem;
  }
  .temperature{
    font-size: 50px;
  } 
  #forecast{
      display: flex;
      flex-direction: column;
  }
  #forecast p{
      font-size: 40px;
  }
  #order-form{
    display: flex;
    flex-direction: column;
  }
  #donation-container h3 {
    font-size: 45px;
    margin: 5px;
}
#donation-container #sub-title {
  font-size: 25px;
  padding-bottom: 10px;
}
  /*----------------Footer-----------------------*/

  footer p{
    font-size: 20px;
  }
  

  /*-----------------Fresh--------------------*/
  .form-wrapper{
    display: flex;
    width: 80%;
    justify-content: space-evenly;
  }
  #summary{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  #order-summary{
    height: 40%;
    margin-top: 0;
    margin-left: 20px;
    margin-right: 20px;
    border-bottom: var(--accent3-color) solid 20px;
    border-top: var(--accent3-color) solid 20px;
    border-radius: 20px;
    width: 200px;
    margin-bottom: 20px;
  }
  #special-instructions{
    font-size: 20px;
  }
  .juice{
    display:block;
    width: 200px;
    height: 165px;
  }
  .juice img{
      border: 3px solid;
      box-shadow: 5px 5px 5px;
      width: 100%;
      height: 100%;
  }

  /*---------------about us---------------*/
  #map-image{
    flex-direction: row;
  }

  #join-table{
    padding: 22px 20px;
  }
  
  iframe{
    width: 300px;
    height: 300px;
    margin-left: 0;
  }
  th{
    padding: 10px 5px;
  }
  /*------------------blog-------------------------*/

  #blog-title-wrapper{
    flex-direction: row;
    justify-content: space-around;
    padding: 30px 0;
    padding: 30px 0 40px 0px
  }
  .blog-img-wrapper{
    display: block;
  }
  #donation-logo-wrapper img {
    width: 100px;
    height: 100px;
    margin-top: 30px;
  }
  .blog-img, .blog-img2{
    flex-direction: row;
  }
  .blog-img-wrapper img {
    width: 700px;
    height: 350px;
  }
  #blog-sub-title{
    font-size: 45px;
    padding-left: 40px;
  }
 

  }
